.jumbotron {
    text-align: center;
    margin-top: 15px;
    
}

.pomodoro {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin: auto;
    border-radius: 30%;
    position: relative;
}

.pomodoro p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.timer{
    
}